h1{
    text-align: center;
}

.container{
    background-color: #ddd;
    flex-direction: row;
    padding: 40px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    height: 100px;
}

.item{
    background-color: #4285f4;
    border: 3px solid white;
    color: white;
    text-align: center;
    
}
.item-1{
    flex-basis: 200px;
}
.item-2{
    flex-basis: 200px;
    flex-shrink: 0;
}
.item-3{
    flex-basis: 400px;
    flex-shrink: 0;
}